JWT_SECRET=change-me-with-at-least-64-characters-before-running-the-environment-0001

RABBITMQ_USERNAME=fcg
RABBITMQ_PASSWORD=change-me-rabbitmq

USERS_SQL_PASSWORD=ChangeMe_UsersSql_123!
CATALOG_SQL_PASSWORD=ChangeMe_CatalogSql_123!
PAYMENTS_SQL_PASSWORD=ChangeMe_PaymentsSql_123!

MONGODB_ROOT_USERNAME=fcg
MONGODB_ROOT_PASSWORD=change-me-mongodb
REDIS_PASSWORD=change-me-redis

NOTIFICATIONS_BASE_URL=https://replace-with-your-function.azurewebsites.net
NOTIFICATIONS_FUNCTION_KEY=

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-grafana
